@import "../node_modules/normalize.css/normalize";
@import "../node_modules/skeleton-framework/dist/skeleton";
section {
	padding: 1rem 0;
	margin:  1rem 0;
	border-bottom: 1px solid #e3e3e3;

	&.cam-info {
		//background-color: hsla(217,39,46,.7);
		position:relative;
	}
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
